
// Body
$body-bg: #f8f8f8;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "/resources/assets/vendor/fonts/fontawesome";
$font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;;
$font-size-base: 14px;
$line-height-base: 1.42857143;
$text-color: #333;

// Navbar
$navbar-default-bg: #f8f8f8;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
