

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// Fonts
@import "resources/assets/vendor/css/font-awesome.min";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot') format('embedded-opentype'),
  url('/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'),
  url('/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

//// theme
@import 'resources/assets/vendor/css/metisMenu.min';
@import 'resources/assets/vendor/css/sb-admin-2.min';


